# Core ML/Hugging Face Libraries
accelerate
diffusers==0.25.1
transformers==4.52.1
peft

# Utilities & Runtimes
safetensors
einops
onnxruntime-gpu
omegaconf

# Computer Vision
opencv-python
insightface==0.7.3